.brand-project{
  width: 1000px;
  margin:0 auto;
  >img{
    width: 100%;
  }
  >p{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:600;
    color:rgba(183,27,27,1);
    line-height: 55px;
    height: 55px;
    display: block;
  }
  //.project{
  //  width: calc(100% - 40px);
  //}
  .ivu-row{

   .ivu-col{
     width: 320px;
     background:rgba(255,255,255,1);
     border:2px solid rgba(240,241,242,1);
     text-align: center;
     &:nth-child(2){
       margin:0 20px;
     }
   }
    p:nth-child(2){
      font-size:20px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(50,51,51,1);
    }
    p:last-child{
      font-size:16px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(177,178,179,1);
    }
    >div{
      padding-bottom: 39px;
      .icon{
        width: 100px;
        height: 100px;
        background:rgba(243,249,252,1);
        border-radius:50%;
        margin:40px auto 16px;
        img{
          width: 50px;
          margin-top: 25px;
        }
      }
    }

  }
  .local-project{
    img{
      width: 490px;
      &:last-child{
        margin-left: 20px;
      }
    }
  }
}