.star-info{
  width: 970px;
  margin:0 auto;
  overflow: hidden;

  &-nav{
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(76,76,77,1);
    margin:19px 0 29px;
  }
  .base-info{
    img{
      width:94px;
      height:94px;
      border-radius:50%;
    }
    span{
      font-size:24px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(38,38,38,1);
      margin-bottom: 37px;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 20px;
    }
  }
  .info-content{
    margin:32px 0;

    img{
      max-width: 970px;
    }
  }
}
.star-news-list{
  background:url("../../../../public/static/images/villageStar/top6.png") #F0F1F2 no-repeat !important;
  background-size:100% auto !important;
  padding-bottom: 20px;
  .volunteer-news-content{
    width: 940px !important;
    .recomend{
      margin:0 !important;
    }
  }
  .nav{
      font-size:14px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      padding:20px 0 120px
    }
  .search-tool{
    height: 80px;
    width: 100%;
     background:rgba(255,255,255,0.9);
    margin-bottom: 20px;
    p{
      font-size:22px;
      font-family:PingFang SC;
      font-weight:600;
      color:rgba(38,38,38,1);
      display: inline-block;
      line-height: 80px;
      text-indent: 20px;
    }
  }
}