.input-base-info{
  margin-top:-66px;
  margin-left: 285px;
  color: #7E7F80;
  .sub-title{
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(25,25,26,1);
    margin:34px -10px;
    text-indent: 10px;
  }
  .title{
    font-size:26px;
    font-family:PingFang SC;
    font-weight:600;
    color:rgba(50,51,51,1);
    margin-left: 150px;
  }
  .ivu-col-span-20 {
    padding-left: 20px;
    line-height: 50px;
  }
  .top40{
    margin-top:40px;
  }
  .top20{
    margin-top:20px;
  }
  .ivu-row{

    width: 680px;

    input,textarea{
      background:rgba(245,246,247,1);
      border:1px solid rgba(227,228,230,1);
    }
    textarea{
      width: 480px;
      height: 138px;
      resize:none
    }

    input[type='text']{
      width: 100%;
      height: 50px;
      text-indent: 20px;
    }
    .line-input{
      width: 400px !important;
      height: 30px !important;
      background:#fff !important;
      border:none;
      border-bottom:1px solid #262626 !important;
    }
    p{
      line-height: 50px;
    }
    // select 样式修改
    .ivu-select-selection{
      height: 50px !important;
    }
    .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
    .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
      line-height: 50px !important;
      height: 50px !important;
    }

  }
  .radioList{
    margin-top: 20px;
    width: 650px;
    input[type='text']{
      background:rgba(240,241,242,1);
      border:1px solid rgba(227,228,230,1);
      width:200px;
      height:40px;
    }
  }
  button{
    background: #39bdde;
    color: white;
    width: 250px;
    height: 60px;
    font-size:20px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(254,254,254,1);
    margin: 60px 0 60px 80px;
  }
  .cancle{
    color: #979899;
    border:1px solid #979899;
    background: #fff;
  }

}